#data-base
DATABASE_USER       =   username
DATABASE_PASSWORD   =   password
DATABASE_NAME       =   database_name

#session
SECRET_KEY          =   SecretKeyForSession
DOMAIN              =   damin

#email
MAIL_SERVER         =   sever
MAIL_PORT           =   port
MAIL_USERNAME       =   email
MAIL_PASSWORD       =   app_pasword 
MAIL_TIMEOUT        =   timeout
MAIL_USE_TLS        =   True
MAIL_USE_TLS        =   True
MAIL_DEFAULT_SENDER =   email


