<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meninas Hub - Redefinição de Senha</title>
    <!--<link rel="stylesheet" href="../static/css/redefinicao_senha.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/redefinicao_senha.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <img src="../static/img/meninas_logo.png" alt="Meninas Digitais Logo" class="nav-logo"/>
        <h1>Meninas Hub</h1>
    </nav>
 
    <main>
        <div class="card">
            <p class="card-title">Redefinição de Senha</p>
 
            <div class="field">
                <label class="field-label" for="Nova_senha">Escolha uma nova senha</label>
                <input type="password" id="Nova_senha" autocomplete="new-password" />
            </div>
 
            <div class="field">
                <label class="field-label" for="Confirmar_senha">Digite novamente</label>
                <input type="password" id="Confirmar_senha" autocomplete="new-password" />
            </div>

            <button class="btn-cadastrar" type="button">Cadastrar</button>
        </div>
    </main>
</body>
</html>